/* --------------------------------------------------------------------our services------------ */

@media only screen and (min-width:300px) and (max-width:767px) {
    .our-services-slider {
        overflow-x: hidden;
    }
}


/* section.padding.our-services-slider.parallax-window {
    background-color: #03262f;
} */

h1.title.text-center.topic-heading {
    font-family: 'montserrat_alternatessemibold';
    color: #02c7e6;
}

figure.testimonial-services img {
    max-width: 86px !important;
    margin: 34px auto 0;
}

h5.card-title {
    font-size: 24px !important;
    font-weight: 650!important;
}

.card.card-content {
    border-radius: 15px;
}

p.card-text {
    padding: 20px 5px 0 5px;
    text-align: revert;
    font-size: 18px;
}

figure.testimonial-services img {
    border-radius: 0 !important;
}

img.card-img-top.img-fluid.mobile-app-devlop {
    height: 100px;
    margin: 34px auto 0;
}


/* --------------------------------our services end-------------------- */

.indentity {
    margin: 0!important
}

figure.testimonial-services {
    position: relative;
    float: none;
    overflow: hidden;
    margin: 0px 0%;
    padding: 0 0px;
    text-align: left;
    box-shadow: none !important;
}

figure.testimonial-services * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.35s cubic-bezier(0.25, 0.5, 0.5, 0.9);
    transition: all 0.35s cubic-bezier(0.25, 0.5, 0.5, 0.9);
    text-align: center;
    font-size: 18px;
    margin-bottom: 0px;
}

figure.testimonial-services img {
    max-width: 160px;
    vertical-align: middle;
    height: auto;
    width: 100%;
    border-radius: 50%;
    margin: 40px auto 10px;
}

figure.testimonial-services blockquote {
    background-color: #fff;
    display: block;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5em;
    margin: 0;
    padding: 25px 50px 30px;
    position: relative;
}

figure.testimonial-services blockquote:before,
figure.testimonial-services blockquote:after {
    content: "\201C";
    position: absolute;
    color: #ff5057;
    font-size: 50px;
    font-style: normal;
}

figure.testimonial-services blockquote:before {
    top: 25px;
    left: 20px;
}

figure.testimonial-services blockquote:after {
    content: "\201D";
    right: 20px;
    bottom: 0;
}

figure.testimonial-services .btn {
    top: 100%;
    width: 0;
    height: 0;
    border-left: 0 solid transparent;
    border-right: 25px solid transparent;
    border-top: 25px solid #fff;
    margin: 0;
    position: absolute;
}

figure.testimonial-services .peopl {
    position: absolute;
    bottom: 45px;
    padding: 0 10px 0 120px;
    margin: 0;
    color: #ffffff;
    -webkit-transform: translateY(50%);
    transform: translateY(50%);
}

figure.testimonial-services .peopl h3 {
    opacity: 0.9;
    margin: 0;
}

.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.slick-list:focus {
    outline: none;
}

.slick-list.dragging {
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
}

.slick-track:before,
.slick-track:after {
    display: table;
    content: '';
}

.slick-track:after {
    clear: both;
}

.slick-loading .slick-track {
    visibility: hidden;
}

.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}

.slick-slide img {
    display: block;
}

.slick-slide.slick-loading img {
    display: none;
}

.slick-slide.dragging img {
    pointer-events: none;
}

.slick-initialized .slick-slide {
    display: block;
}

.slick-loading .slick-slide {
    visibility: hidden;
}

.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent;
}

.slick-btn.slick-hidden {
    display: none;
}

.slick-prev,
.slick-next {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 40%;
    display: block;
    width: 20px;
    height: 20px;
    padding: 0;
    transform: translate(0, -50%);
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: transparent;
    z-index: 99;
}

.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
    color: transparent;
    outline: none;
    background: transparent;
}

.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
    opacity: 1;
}

.slick-prev:before,
.slick-next:before {
    font-family: "FontAwesome";
    font-size: 40px;
    line-height: 1;
    opacity: .75;
    color: white;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
    left: -40px;
}

.slick-prev:before {
    content: "";
}

.slick-next {
    right: -40px;
}

.slick-next:before {
    content: "";
}